.button-secondary {
  border: 1px solid #36cfc9;
  padding: 6px 15px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.016));
  background-color: #fff;
  transition: all 0.15s ease-in;
  font-size: 14px;
  text-align: center;
  color: #36cfc9;
}

.button-secondary:hover {
  cursor: pointer;
  border: 1px solid #36cfc9;
  background-color: #36cfc9;
  color: #fff;
}
