@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

body{
    padding: 50px 50px;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #006D75;
}

#form{
    display: flex;
    justify-content: center;
}

Form{
    width: 656px;
    height: 678px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 50px 50px;
}

.mb-3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #11999E;
}

.input{
    box-sizing: border-box;
    width: 658px;
    height: 56px;

    background: #FFFFFF;
    border: 1px solid #11999E;
    border-radius: 8px;
}

#passwordHelpBlock{
    width: 247px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 36px;

    color: #11999E;
}

.check{
    width: 583px;
    height: 76px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

#check{
    box-sizing: border-box;
    width: 30px;
    height: 20px;
}

.buttondaftar{
    display: flex;
    justify-content: center;
}

#daftar{
    width: 375px;
    height: 73px;
    
    border: none;
    background: #36CFC9;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

#login{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}