.btn-register {
  padding: 4px 15px !important;
  border-radius: 0.8rem;
}

.btn-login {
  padding: 4px 15px !important;
  border-radius: 0.8rem;
}

@media (min-width: 576px) and (max-width: 837px) {
  .nav-item {
    font-size: 0.8rem;
  }
  .btn-register {
    padding: 0;
    font-size: 0.8em;
  }

  .btn-login {
    padding: 0;
    font-size: 0.8em;
  }
}
