.diagram-box__wrapper {
  padding: 30px;
}

.required-calori_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  width: 200px;
  display: block;
}

.circle-diagram {
  width: 350px;
  border-radius: 500px;
  margin: 0 auto;
}

.calculate-calori {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  font-weight: 400;
  font-size: 24px;
}

.calculate-calori span {
  color: black;
}

.dibutuhkan {
	width: 16px;
	height: 16px;
	border-radius: 999px;
	background-color: rgba(19, 194, 194);
}

.terpenuhi {
	width: 16px;
	height: 16px;
	border-radius: 999px;
	background-color: rgba(17, 153, 158);
}

@media only screen and (max-width: 600px) {
	.circle-diagram {
		width: 80%;
	}
	.calculate-calori {
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		font-size: 1rem;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		gap: 10px;
	}
}